<header>
  <section class="balk">
    <div>
      <h1>GitHyves</h1>
      <h2>Always in touch with your friends</h2>
    </div>
    <a href="">Feed</a>
    <a href="">Profiel</a>
    <img src="/images/githublogo" alt="Github logo" />
  </section>
</header>
