<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="description" content="GitHyves" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GitHyves</title>

    <link rel="icon" type="image/x-icon" href="/Icons/icon-512x512.png" />
    <link href="/styles/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/app.js" defer></script>
  </head>
  <body>
</html>