<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Githyves</h1>
<<<<<<< HEAD
    <h2>Issues</h2>
    <% issues.forEach(issue => { %>
    <p><%= issue.node.bodyText %></p>
    <% }) %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io()
</script>
</html>
=======
    <a href="/auth/github">Login met github</a>
  </body>
  <script src="/socket.io/socket.io.js"></script>
</html>
>>>>>>> Remco
