<%- include('./partials/head') %>

<main>
  <div>
    <h1>GitHyves</h1>
    <h2>Always in touch with your friends</h2>
  </div>
  <h3>Welkom terug</h3>
  <img src="/images/banana.gif" alt="Dacing banana gif 1" />
  <img src="/images/banana.gif" alt="Dacing banana gif 2" />
  <section>
    <p>Github + Hyves</p>
    <p>Krabbel code</p>
    <a href="github link">Login met github</a>
  </section>
</main>

<%- include('./partials/foot') %>
