<%- include('./partials/head') %>
<body>
<header>
	<span class="logo">GitHyves</span>
	<p>Always touch your friends</p>
</header>

<main>
	<h1>Welkom terug</h1>
	<section class="login">
		<h2>Github + Hyves</h2>
		<p>Krabbel code</p>
		<a class="button" href="/auth/github">Login met github</a>
		<div>
			<p>Nog geen Github profiel?</p>
			<a href="https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home">Sign Up</a>
		</div>
	</section>
</main>
</body>
</html>
