<%- include('./partials/head') %>
<body>
<header>
	<span class="logo">GitHyves</span>
	<p>Always in touch with your friends</p>
</header>

<main>
	<h1>Welkom terug</h1>
	<section class="login">
		<h2>Github + Hyves</h2>
		<p>Krabbel code</p>
		<a class="button" href="/auth/github">Login met github</a>
	</section>
</main>
</body>
</html>
