<%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <main id="profile">
        <section>
            <img src="images/mb.jpeg" alt="">
            <div>
                <h3>Marco Borsato</h3>
                <h4>Vuilnisman</h4>
            </div>
        </section>

        <section class="repos">
            <h3>Repositories</h3>
        </section>

        <section class="pimpen">
            <h3>Pimp mijn profiel!</h3>
            <button>Tekst kleur</button>
            <button>Achtergrond</button>
            <button>Font</button>
            <button>Pins</button>
        </section>

        <section class="vriendenboekje">
            <ul>
                <li>
                    <img src="" alt="">
                    <p>Jody29 (32)</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Kuckelkorn (12)</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Joeribouwman (8)</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>Fabienne02 (16)</p>
                </li>
            </ul>
            <button>voeg vrienden toe</button>
        </section>
    </main>
<%- include('./partials/foot') %>