@font-face {
	font-family: Comic Sans MS;
	src: url("/font/Qdbettercomicsansbold-511d8.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Comic Sans MS;
	src: url("/font/Qdbettercomicsans-jEEeG.ttf");
	font-weight: regular;
}

:root {
	--orange: #ff8a0e;
	--white: #fff;
	--grey: #666;
	--blue: #150b8b;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
}

body {
	background-color: var(--background-color, var(--orange));
	color: var(--white);
	min-height: 100vh;
	position: relative;
}

header,
main,
footer {
	width: calc(100% - 2rem);
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

.header-white {
	background-color: var(--white);
	color: var(--orange);
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	/* position: sticky;
	top: 0; */
}

.header-link {
	color: var(--orange);
	font-size: 1.2rem;
	margin-right: 2rem;
}

.button-orange {
	background-color: var(--orange);
	margin-right: 2rem;
}

.github-logo svg {
	width: 3rem;
	height: 3rem;
}

.logo {
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 2.5rem;
	letter-spacing: 0.04em;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin: 5rem 0 10rem;
}

.login {
	--banana-size: 8rem;
	/* margin: 0 auto; */
	padding: 5rem 1rem;
	background-color: var(--white);
	color: var(--orange);
	text-align: center;
	position: relative;
	border-radius: 0.4rem;
}

.login::before {
	content: "";
	background-image: url(../images/banana.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--banana-size);
	height: var(--banana-size);
	display: block;
	position: absolute;
	top: calc(var(--banana-size) * -1);
	left: 10vw;
}

.login::after {
	content: "";
	background-image: url(../images/banana.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--banana-size);
	height: var(--banana-size);
	display: block;
	position: absolute;
	top: calc(var(--banana-size) * -1);
	right: 10vw;
}

.login h2 {
	font-family: "Comic Sans MS";
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.04em;
}

.login p {
	font-family: "Comic Sans MS";
	font-size: 1.5rem;
	font-weight: regular;
	letter-spacing: 0.04em;
}

.button {
	padding: 0.75em 1.5em;
	color: var(--white);
	display: inline-block;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 0.2rem;
	display: inline-block;
}

.login .button {
	display: inline-flex;
	align-items: center;
	background-color: var(--grey);
	margin-top: 2rem;
}

.login .button::before {
	content: "";
	background-image: url(../images/github-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 1.2rem;
	height: 1.2rem;
	display: block;
	margin-right: 0.5rem;
}

.logout {
	color: var(--grey);
	text-align: center;
	display: block;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.button:hover,
.logout:hover,
.header-link:hover {
	opacity: 0.9;
}

/* Profile */

.welcome {
	padding-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.welcome section {
	flex: 1;
	height: 100%;
}

.user {
	background-color: var(--white);
	color: var(--text-color, var(--orange));
	border-radius: 0.4rem;
	padding: 1rem;
	max-width: 20rem;
}

.user h2 {
	margin-top: 1rem;
}

.user .button-orange {
	display: block;
	margin: 1rem 0;
	text-align: center;
	background-color: var(--text-color, var(--orange));
}

.vrienden {
	background-color: var(--white);
	color: var(--text-color, var(--orange));
	border-radius: 0.4rem;
	padding: 1rem;
	max-width: 20rem;
}

.vrienden h2 {
	margin-bottom: 1rem;
}

.vriend {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.vriend a {
	font-weight: 500;
	font-size: 1.2rem;
	color: var(--text-color, var(--orange));
}

.vriend img {
	width: 3rem;
	border-radius: 2rem;
	margin-right: 1rem;
}

.repositories article {
	background-color: var(--white);
	color: var(--grey);
	margin: 0 0 1rem 0;
	padding: 1em;
	border-radius: 0.4em;
}

.repositories h3 {
	color: var(--blue);
}

.repositories article p {
	margin-top: 0.4em;
}

.repositories ul {
	display: flex;
	margin-top: 1em;
	width: 60%;
}

.repositories ul li {
	margin-right: 1rem;
	font-size: 0.9rem;
	padding: 0.5em 0.8em;
	border: 1px solid var(--grey);
	border-radius: 3em;
	color: var(--grey);
}
